# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.comment_finder_test.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# GitHub Copilot persisted chat sessions
/copilot/chatSessions

/obj/
/bin/