<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>C# by Example: {{Name}}</title>
    <link rel=stylesheet href="../prism.css" />
    <link rel=stylesheet href="../style.css" />
</head>
<script>
    onkeydown = (e) => {
        {{if PrevExample}}
        if (e.key == "ArrowLeft") {
            window.location.href = '../{{PrevExample.FileName}}';
        }
        {{end}}
        {{if NextExample}}
        if (e.key == "ArrowRight") {
            window.location.href = '../{{NextExample.FileName}}';
        }
        {{end}}
    }
</script>
<body>
<div class="example" id="{{ID}}">
    <h2><a href="../">C# by Example</a>: {{Name}}</h2>
{{#Scripts}}
<Section class="example">
{{#Segments}}
<div class="docs grid-left">
    {{{DocsRendered}}}
</div>
<div class="code{{#CodeEmpty}} empty{{/CodeEmpty}}{{#CodeLeading}} leading{{/CodeLeading}} grid-right">
{{end}}
<pre class="language-cs">
<code>
{{{CodeRendered}}}
</code>
</pre>
</div>

{{/Segments}}
</Section>
{{/Scripts}}
    {{#Meta.HasLinks}}
        <h3>Further:</h3>
        <ul>
        {{#Meta.Links}}
            <li><a href="{{URL}}" target="_blank">{{Name}}</a></li>
        {{/Meta.Links}}
        </ul>
    {{/Meta.HasLinks}}
    <hr />
{{end}}    
{{#NextExample}}
    <p class="next">
        Next example: <a href="../{{NextExample.ID}}">{{NextExample.Name}}</a>.
    </p>
{{/NextExample}}
{{> footer }}
</div>
{{> analytics }}
</body>
</html>