{{define "footer"}}
<p class="footer">
    by <a href="https://hdyar.com">Hunter Dyar</a> | <a href="https://github.com/hunterdyar/CSharp-By-Example">source</a> | <a
        href="https://github.com/hunterdyar/CSharp-By-Example?tab=CC-BY-4.0-1-ov-file">license</a>. Based on <a href="https://gobyexample.com/">Go By Example</a>.
</p>
{{end}}