<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>C# by Example</title>
    <link rel=stylesheet href="style.css">
</head>
<body>
<div id="intro">
    <h2><a href="./">C# by Example</a></h2>
    <p>
        <a href="https://dotnet.microsoft.com/en-us/languages/csharp">C#</a> is a general purpose and high-level programming language by Microsoft. Built on the .NET runtime, it is a portable, robust, and flexible language with a strong library of tools. It is one of the most <a href="https://www.tiobe.com/tiobe-index/">popular</a> languages in the world. 
    </p>

    <p>
        <em>C# by Example</em> is a hands-on introduction
        to C# using annotated examples. Check out
        the <a href="hello-world">first example</a> or
        browse the full list below. This is a C# version of <a href="http://gobyexample.com" target="_blank">Go By Example</a> (rewritten in C#, of course).
    </p>

    <ul>
        {{#Examples}}
        <li><a href="{{FileName}}">{{Name}}</a></li>
        {{/Examples}}
    </ul>
    {{> footer }}
</div>
</body>
</html>
